{% extends 'base.html' %}
{% block content %}

<h2 class="mb-4">My Students</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
    </tr>

    {% for s in students %}
    <tr>
        <td>{{ s.name }}</td>
        <td>{{ s.email }}</td>
        <td>{{ s.course }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3" class="text-center">
            No students assigned
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}